<h3>Pie Chart: Number of Likes Per Tag.</h3>
<div>
    <canvas baseChart
        [datasets]="chartDataNumOfLikesPerTag"
        [labels]="chartLabelsNumOfLikesPerTag"
        [chartType]="chartTypeNumOfLikesPerTag"
    ></canvas>
</div>


<!-- <h3>Pie Chart: Number of Images Per Tag.</h3> -->
<!-- <div>
    <canvas baseChart
        [datasets]="chartDataMoviePreferenceStat"
        [labels]="chartLabelsMoviePreferenceStat"
        [chartType]="chartTypeMoviePreferenceStats"
    ></canvas>
</div> -->